<h1>Edit Sub task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.task_sub_task_path(@conn, :update, @task, @sub_task)) %>

<span><%= link "Back", to: Routes.task_sub_task_path(@conn, :index, @task) %></span>
