<h1>Edit Sub task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.task_sub_task_path(@conn, :update, @task_id, @sub_task)) %>

<span><%= link "All sub-tasks", to: Routes.task_sub_task_path(@conn, :index, @task_id) %></span>
